.topbar {
  height: 64px;
  background-color: white;
  border-bottom: 1px solid #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 32px;
}

.user {
  color: #6b7280;
}